---
import Layout from '../layouts/Layout.astro';
import CameraCalibration from '../components/Calibrations.jsx';
---
<Layout title='Calibración de la Camara'>
    <div class="calibracion-container">
        <CameraCalibration />
    </div>
</Layout>

<style>
.calibracion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, #217c24 0%, #0b4e0c 100%);
    color: #fff;
    font-family: "Poppins", sans-serif;
}
</style>
