---
import Layout from '../layouts/Layout.astro';
import CameraCalibration from '../components/Calibrations.jsx';
---
<Layout title='Calibración de la Camara'>
    <link rel="stylesheet" href="/src/css/global.css">
    <link rel="stylesheet" href="/src/css/calibration.css">
    <div class="calibration-container">
        <CameraCalibration client:load/>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/tracking/build/tracking-min.js"></script>

</Layout>


