---
import Layout from '../layouts/Layout.astro';                    
import ImageDetection from '../components/Deteccion';

const title = "Análisis y Detección de Imágenes";
---
<Layout title={title}>
    <link rel="stylesheet" href="/src/css/global.css">
    <link rel="stylesheet" href="/src/css/deteccion.css">
    <div class="detection-container" class="w-full flex flex-col items-center py-10 bg-gradient-to-b from-gray-50 to-blue-100 min-h-screen">

    <ImageDetection client:load />
</div>
</Layout>
