---
import Layout from '../layouts/Layout.astro';
import ImageUploader from '../components/UploadImagen.jsx';

import '../css/global.css';

const title = "Carga y Previsualización de Imágenes";
--- 

<Layout title={title}>
    <link rel="stylesheet" href="/src/css/global.css">
    <link rel="stylesheet" href="/src/css/upload.css">
    <div class="upload-container" class="w-full flex flex-col items-center py-10 bg-gradient-to-b from-blue-50 to-gray-100 min-h-screen">

    <ImageUploader client:load />
</div>
</Layout>