@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(@fontsource/righteous/files/righteous-latin-400-normal.woff2) format('woff2'), url(@fontsource/righteous/files/righteous-latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

.detection-container{
    background: #ECE3E1;
}

.nb-title-container{
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}

.nb-title{
    color: #2E4A9E;
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Righteous', system-ui;
    text-transform: uppercase;
    letter-spacing: 7px;
    justify-content: center;
    text-align: center;
}

.nb-bagde-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}

.nb-tri-badge{
    display: flex;
    flex-direction: row; /* Apila los badges verticalmente */
    align-items: center; /* Centra cada badge horizontalmente */
    gap: 500px; /* Espacio entre los badges */
    margin: 10px 0;
}

.cuerpo-container{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    gap: 250px; 
    padding: 30px auto;
}

.nb-video{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 30px;
}
.nb-video-s{
    width: 400px;
    height: 400px;
}

.maple-grid-container {
    text-align: center;
    padding: 20px 250px;
}

.maple-grid {
    display: grid;
    grid-template-columns: repeat(15, 40px); /* 15 columnas */
    grid-template-rows: repeat(10, 40px); /* 10 filas */
    gap: 8px; /* Espacio entre huevos */
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #333;
    border-radius: 8px;
}

.egg-slot {
    width: 40px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: white;
}